@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Inter:wght@600;700;800&family=Lobster&family=Montserrat:wght@500;700&family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.carousel-item img {
    opacity: 0.6;
    filter: brightness(40%);
}

.modal-container {
    height: 300px;
}

.accordian-container {
    max-width: 872px;

}

@media screen and (max-width: 576px) {
    .carousel-caption h1 {
        font-size: 20px;
    }

    .carousel-caption p {
        font-size: 12px;
    }

}